
RewriteEngine On 
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . Main/index.php [L]

<IfModule mod_php7.c>
    php_value auto_prepend_file F:/OpenServer/OSPanel/domains/HUF-DB-DEV/Views/def.php
</IfModule>